aiofiles==25.1.0
aiogram==3.23.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
async-timeout==5.0.1
attrs==25.4.0
blinker==1.4
certifi==2025.11.12
click==8.0.3
command-not-found==0.3
ConfigArgParse==1.5.3
configobj==5.0.6
constantly==15.1.0
cryptopay==0.1.3
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
exceptiongroup==1.3.1
fastapi==0.124.4
Flask==3.1.2
frozenlist==1.8.0
greenlet==3.3.0
gyp==0.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.20.2
httpx==0.27.2
Hypercorn==0.18.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
itsdangerous==2.2.0
jeepney==0.7.1
Jinja2==3.1.2
josepy==1.10.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
lazr.uri==1.0.6
magic-filter==1.0.12
MarkupSafe==3.0.3
more-itertools==8.10.0
multidict==6.7.0
netifaces==0.11.0
packaging==21.3
parsedatetime==2.6
pexpect==4.8.0
pillow==12.0.0
priority==2.0.0
propcache==0.4.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycparser==2.23
pydantic==2.5.3
pydantic_core==2.14.6
PyGObject==3.42.1
PyHamcrest==2.0.2
PyICU==2.8.1
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
pyTelegramBotAPI==4.29.1
python-apt==2.4.0+ubuntu4.1
python-debian==0.1.43+ubuntu1.1
python-dotenv==0.19.2
python-magic==0.4.24
python-telegram-bot==22.5
pytz==2022.1
PyYAML==5.4.1
qrcode==8.2
Quart==0.19.4
requests==2.25.1
requests-toolbelt==0.9.1
six==1.16.0
sniffio==1.3.1
sos==4.9.2
SQLAlchemy==2.0.25
ssh-import-id==5.11
starlette==0.50.0
StrEnum==0.4.15
supervisor==4.2.1
systemd-python==234
taskgroup==0.2.2
texttable==1.6.4
tomli==2.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
uvicorn==0.38.0
wadllib==1.3.6
websocket-client==1.2.3
Werkzeug==3.1.4
wsproto==1.3.2
xkit==0.0.0
yarl==1.22.0
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
